@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#root{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('/images/landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    width: 100%;
}
.loginHero{
  background-image:url('/images/loginHero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  width:100%;
  background-blend-mode: multiply;
}